In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("online.csv")

In [4]:
df.head(2)

,Unnamed: 0,order_status,Monthly Income,latitude,Marital Status,Gender,employment_status,Family size,Reviews,Pin code,Age,longitude,Educational Qualifications,Unnamed: 13,9,#@%
0,0,Yes,25001 to 50000,13.0262,Married,Male,Employee,5.0,Positive,560045,28.0,77.6200,Post Graduate,Yes,NaN,swiggyscount
1,1,Yes,No Income,12.9770,Single,Male,Student,NaN,Positive,560009,NaN,77.5773,Post Graduate,Yes,NaN,*7435

In [7]:
family_mean = int(df["Family size"].mean())

In [ ]:
df["Family size"].fillna(family_mean,in)